* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111827;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1,
h2 {
  color: #93c5fd;
}

p,
li,
a,
label,
input,
select,
textarea,
button {
  color: #d1d5db;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

select {
  background-color: #111827;
}

button {
  cursor: pointer;
  background-color: transparent;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

header nav ul {
  display: flex;
  gap: 20px;
}

header nav ul li a:hover {
  color: #93c5fd;
}

footer {
  display: flex;
  padding: 40px;
}

main {
  padding: 40px;
}

.validation-message-list {
  display: flex;
  flex-direction: column;
  background-color: #9f0712;
  padding: 12px;
}

.validation-message-list li {
  font-size: 0.8rem;
  color: #d1d5db;
}

/* TODO */
@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
    gap: 10px;
  }
}
