main {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  display: flex;
}

.buttons-container button {
  border: 0;
  padding: initial;
}

.select-container {
  display: flex;
  flex-direction: column;
}

.select-wrapper {
  display: flex;
}

.select-wrapper:nth-child(1) {
  flex-direction: column;
}

.select-wrapper select {
  flex: 95;
}

.select-wrapper button {
  flex: 5;
}

input {
  width: 400px;
}

input,
section a,
button {
  background-color: transparent;
  border: 1px solid #6b7280;
  padding: 12px;
}

select {
  border: 1px solid #6b7280;
  padding: 12px;
}

.button-group {
  display: flex;
  gap: 10px;
}

section a,
button {
  flex: 1;
  text-align: center;
}

section a:hover,
button:hover {
  color: #93c5fd;
  border-color: #93c5fd;
}
