main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.games-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-search {
  display: flex;
  gap: 10px;
}

.btn-add {
  padding: 6px 12px;
  border: 1px solid #6b7280;
  box-shadow: 2px 2px #6b7280;
}

.btn-add:hover {
  color: #93c5fd;
  border-color: #93c5fd;
  box-shadow: 2px 2px #93c5fd;
}

.search {
  padding: 6px 12px;
  border: 1px solid #6b7280;
  box-shadow: 2px 2px #6b7280;
  background-color: transparent;
}

.games-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.games-container:has(.no-result-message) {
  display: grid;
  grid-template-columns: 1fr;
}

.game-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #6b7280;
  box-shadow: 2px 2px #6b7280;
  padding: 20px;
  gap: 10px;
  justify-content: space-between;
}

.game-information {
  display: flex;
  flex-direction: column;
}

.game-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #93c5fd;
  padding-bottom: 2px;
}

.game-developer span,
.game-genre span,
.game-stock span {
  font-weight: 600;
}

.game-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-delete,
.btn-edit {
  padding: 6px 12px;
  border: 1px solid #6b7280;
  box-shadow: 2px 2px #6b7280;
}

.btn-delete:hover,
.btn-edit:hover {
  color: #93c5fd;
  border-color: #93c5fd;
  box-shadow: 2px 2px #93c5fd;
}

/* TODO */
@media screen and (max-width: 640px) {
  .games-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .games-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .add-search {
    justify-content: flex-end;
    width: 100%;
  }

  .games-container {
    grid-template-columns: 1fr;
  }
}
