main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section a {
  background-color: transparent;
  border: 1px solid #6b7280;
  padding: 12px;
  text-align: center;
}

section a:hover {
  color: #93c5fd;
  border-color: #93c5fd;
}
