main {
  display: flex;
  gap: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.add-link {
  border: 1px solid #6b7280;
  padding: 12px;
  text-align: center;
}

.add-link:hover {
  color: #93c5fd;
  border-color: #93c5fd;
}

.developer-games {
  display: flex;
  flex-direction: column;
}

.game-card {
  display: flex;
  flex-direction: column;
}
